@import './breakpoints.scss';
@import './mixin.scss';

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: hidden;

        @include breakpoint(sm, both) {
            height: 110px;
        }

    img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
      }
    
    .banner-title {
        position: absolute;
        z-index: 1;
        font-size: 2.5em;
        color: white;
        text-align: center;

        @include breakpoint(sm, both) {
            font-size: 1.5em;
            text-align: start;
            padding: 0px 20px; 
        }
    }

}