@use './mixin.scss' as *;

.card-container {
    background-color: #F6F6F6; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-radius: 25px;
    row-gap: 30px;
    padding: 40px 20px 40px 20px;
    margin-top: 40px;

    @include breakpoint(sm, both) {
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        row-gap: 22px;
        padding: 20px 0px;
    }

}

.card {
    position: relative;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    
<<<<<<< HEAD
=======
    a {
        position: inherit;
        z-index: 1;
    }

>>>>>>> 3a1b2bbd9a15f03bbb28d935ea3e0a55a6bac986
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(10, 10, 10, 0), rgba(4, 4, 4, 0.205), rgba(0, 0, 0, 0.5));
<<<<<<< HEAD
        z-index: 1;
        pointer-events: none;
=======
        z-index: 0;
>>>>>>> 3a1b2bbd9a15f03bbb28d935ea3e0a55a6bac986
    }
      
        @include breakpoint(sm, both) {
        width: 100%;
        height: 255px;
        }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    h2 {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 20px;
        font-size: 1.125em;
        color: white;

        @include breakpoint(sm, both) {
            bottom: 10px;
            }

    }
}