@import './breakpoints.scss';
@import './mixin.scss';

.collapse-bar {
    cursor: pointer;
    overflow: hidden;
    margin: 40px 80px;

    @include breakpoint(sm, both) {
      margin: 30px 0px;
      }
  }
  
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    background-color: #FF6060;
    color: white;
    height: 52px;
    border-radius: 10px;
    font-size: 1.25em;

    @include breakpoint(sm, both) {
      height: 30px;
      font-size: 1em;
      }
  }
  
  .collapse-parent {
    overflow: hidden;
    transition: height 0.4s ease-out;
    cursor: default;
  }
  
  .collapse-content {
    overflow: hidden;
    background-color: #F6F6F673;
    padding: 10px;
  }
  
  .rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  span { /*pour effet de rotation du chevron à la fermeture du collapsible*/
    transition: transform 0.3s ease;
    font-size: 1.5em;  
  }