@use './mixin.scss' as *;

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;  

    @include breakpoint(sm, both) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

            .details-right {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                width: 100%;              
            }

            .details-left {
                width: 100%;              
            }
        }
}

.title {
    font-size: 2.25em;
    font-weight: 500;
    color:#FF6060;
    margin-bottom: 0px;

    @include breakpoint(sm, both) {
        font-size: 1.125em;
    }
}

.subtitle {
    font-size: 1.125em;
    font-weight: 500;
    margin-top: 0px;

    @include breakpoint(sm, both) {
        font-size: 0.875em;
    }

}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .tag {
        color: white;
        background-color: #FF6060;
        border-radius: 25px;
        font-size: 0.875em;
        padding: 5px 20px 3px 20px;
        height: 25px;
        font-weight: 700;
        min-width: 115px;
        text-align: center;

        @include breakpoint(sm, both) {
            min-width: 84px;
            height: 18px;
            font-size: 0.75em;
            padding-bottom: 6px;
            }
    }
}

.host-info {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
    align-items: center;

    p {
        color: #FF6060;
        font-size: 1.125em;
        text-align: right;
    }

    img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
    }

}

.ratings {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}